<div class="about-college">
  <div class="container">
    <h2 class="about-title">Про нас</h2>

    <div class="about-desc">
      <p class="about-desc__item">
        2019 году был награжден Дипломом I-степени в номинации "Лучшие
        Образовательные Учереждения".
      </p>
      <p class="about-desc__item">
        Колледж с 2016 года является Лидером Отрасли. Первое место (золото)
        рейтинга по Республике Казахстан ОКЭД 85.32.2 (Среднее специальное
        образование) в номинации "Динамика развития".
      </p>
    </div>

    <div class="photos">
      <img class="photos__img" src="assets/pics/about/img-1.jpg" alt="" />
      <img class="photos__img" src="assets/pics/about/img-2.jpg" alt="" />
      <img class="photos__img" src="assets/pics/about/img-3.jpg" alt="" />
    </div>
  </div>
</div>
