<div class="about-college">
  <div class="container">
    <h2 class="about-title">Про нас</h2>

    <div class="about-desc">
      <p class="about-desc__item">Колледж им. Д.А. Кунаева - первый частный университет в Казахстане. В 2020 году мы получили премию «Алтын Сапа» как лучшее предприятие, оказывающее услуги.</p>
      <p class="about-desc__item">В колледже есть 5 кафедр: Гуманитарно-юридический, Экономический, Академия Кино и Телевидения, Подготовительный и факультет англоязычных программ STEM</p>
      <p class="about-desc__item">Колледж им. Д.А. Кунаева - первое в Казахстане учреждение, принятое в Европейскую логистическую ассоциацию (ELA).</p>
      <p class="about-desc__item">Мы первыми в Казахстане подключились к проекту Edurоam, который позволяет студентам и сотрудникам пользоваться бесплатным Wi-Fi в ВУЗах 54 стран мира</p>
    </div>

    <div class="photos">
      <img class="photos__img" src="assets/pics/about/img-1.jpg" alt="">
      <img class="photos__img" src="assets/pics/about/img-2.jpg" alt="">
      <img class="photos__img" src="assets/pics/about/img-3.jpg" alt="">
    </div>
  </div>
</div>