<div class="navbar" id="navbar">  
  <div class="container">
    <input id="toggle" type="checkbox" #toggler>
  
    <label class="toggle-container" for="toggle">
      <span class="button button-toggle"></span>
    </label>

    <a href="https://satbayev.university/ru" target="_blank" class="navbar-brand">
      <img src="./assets/logo.svg" alt="logo">
    </a>
    
    <nav class="navbar-nav">
      <a 
        class="nav-item" 
        [class.click]="m?.isClick"
        *ngFor="let m of menu" 
        [routerLink]="['/'+m?.router]" 
        routerLinkActive="active" 
        (click)="toggler.checked = false"
      >
        {{m?.name}}
      </a>
    </nav>

  </div>
</div>