<div
  *ngIf="headerMenu$ | async as headerMenu"
  id="navbar"
  class="navbar"
  [class.checked]="isChecked"
>
  <div class="container">
    <div class="toggle-container" (click)="toggle()">
      <span class="button button-toggle" [class.transform]="isChecked"></span>
    </div>

    <a class="navbar-brand" routerLink="/">
      <img src="./assets/pics/logo.jpg" alt="logo" />
      Колледж им. Д.А.Кунаева
    </a>

    <nav class="navbar-nav navbar-nav--desktop">
      <ng-container
        *ngTemplateOutlet="navItemTemp; context: { menu: headerMenu }"
      ></ng-container>
    </nav>
  </div>

  <nav
    id="nav-mobile"
    class="navbar-nav navbar-nav--mobile"
    (click)="toggle()"
    [pageYOffset]="'change-bg'"
  >
    <ng-container
      *ngTemplateOutlet="navItemTemp; context: { menu: headerMenu }"
    ></ng-container>
  </nav>
</div>

<div
  *ngIf="secondaryMenu$ | async as secondaryMenu"
  class="sub-navbar"
  [pageYOffset]="'fixed'"
>
  <div class="container">
    <nav class="nav">
      <ng-container
        *ngTemplateOutlet="
          navItemTemp;
          context: { menu: rootLink, isExactMatch: true }
        "
      ></ng-container>
      <div class="nav-group">
        <ng-container
          *ngTemplateOutlet="navItemTemp; context: { menu: secondaryMenu }"
        ></ng-container>
      </div>
    </nav>
  </div>
</div>

<ng-template #navItemTemp let-menu="menu" let-isExactMatch="isExactMatch">
  <div class="nav-item" *ngFor="let m of menu">
    <a
      class="nav-item__link"
      [routerLink]="m | routeLink"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: isExactMatch != null }"
    >
      {{ m?.title }}
    </a>
    <div class="nav-item__sub" *ngIf="m?.subMenu?.length">
      <a
        class="sub-nav-item"
        *ngFor="let menu of m.subMenu"
        [routerLink]="menu | routeLink"
      >
        {{ menu.title }}
      </a>
    </div>
  </div>
</ng-template>
