<div class="navbar" [class.checked]="isChecked" id="navbar">
  <div class="container">
    <div class="toggle-container" (click)="toggle()">
      <span class="button button-toggle" [class.transform]="isChecked"></span>
    </div>

    <a
      class="navbar-brand"
      routerLink="/"
    >
      <img src="./assets/pics/logo.jpg" alt="logo" />
      Колледж им. Д.А.Кунаева
    </a>

    <nav class="navbar-nav navbar-nav--desktop">
      <ng-container *ngTemplateOutlet="navItemTemp"></ng-container>
    </nav>
  </div>

  <nav
    id="nav-mobile"
    class="navbar-nav navbar-nav--mobile"
    (click)="toggle()"
    [pageYOffset]="'change-bg'"
  >
    <ng-container *ngTemplateOutlet="navItemTemp"></ng-container>
  </nav>
</div>
<div class="sub-navbar" [pageYOffset]="'fixed'">
  <div class="container">
    <nav class="nav">
      <a href="#" class="nav-item">Главная</a>
      <div class="nav-group">
        <a
          class="nav-item"
          *ngFor="let menu of subMenu"
          routerLinkActive="active"
          routerLink="{{ menu.router }}"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          {{ menu.name }}
        </a>
      </div>
    </nav>
  </div>
</div>

<ng-template #navItemTemp>
  <a
    class="nav-item"
    [class.click]="m?.isClick"
    *ngFor="let m of menu"
    [routerLink]="['/' + m?.router]"
    routerLinkActive="active"
  >
    {{ m?.name }}
  </a>
</ng-template>
