.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  padding-top: 30px;
  background: #E5EFFF;
  padding-bottom: 25px;
  &-nav {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    .nav-item {
      margin-right: 30px;
      padding: 10px;

      &:last-of-type {
        margin-right: 0;
      }
      .nav-link {
        text-decoration: none;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #333;
        transition: all 0.5s ease-in;
        position: relative;
        &::after {
          display:block;
          content: '';
          width: 0;
          border-bottom: 2px solid #2F80ED;  
          transition: width 0.3s ease-in-out;
        }
        &.active::after,
        &:hover::after {
          width: 100%;
        }
        
      }
    }
  }
}