.contacts {
  display: flex;
  margin-top: 50px;

  &-details {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    .page-title {
      flex: 0 0 100%;
    }

    .block-title {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 20px;
    }
  }
}

.contact {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  &:last-child {
    margin: 0;
  }

  &__icon {
    fill: #005dac;
    margin-right: 12px;
    height: 18px;
    width: 18px;
  }

  &__value {
    color: #005dac;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;

    &.link {
      cursor: pointer;
    }
  }
}

.requisite {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 12px 16px;

  &__detail {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
  }
}

.map {
  margin: 50px 0;

  .ymap {
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    height: 500px;
    width: 100%;
  }
}
