.navbar {
  margin-bottom: 16px;
}

.btn {
  margin-right: 0.5rem;

  &:last-child {
    margin: 0;
  }
}

.files {
  display: flex;
  align-items: center;
  position: relative;

  &-icon {
    cursor: pointer;
    fill: #fff;
    margin-right: 1.5rem;
    height: 30px;
    width: 30px;
  }

  &-list {
    margin: 1rem 0 0;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
  }
}
