:host {
  margin: 0 24px 24px 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  border-right: 4px solid #005dac;
  min-width: 290px;

  &__item {
    color: #000;
    cursor: pointer;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 20px;
    transition: 0.2s all;
    text-decoration: none;

    &.disabled {
      cursor: default;
    }

    &.active:not(.disabled),
    &:hover:not(.disabled) {
      background-color: #005dac;
      color: #fff;
    }

    &:last-child {
      border: none;
    }
  }
}
