<form class="form" [formGroup]="form">
  <div class="mb-3 input-field">
    <label for="title" class="form-label">Заголовок</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      aria-describedby="title"
      formControlName="title"
    />
  </div>
  <div class="mb-3 input-field">
    <app-file-upload formControlName="file"></app-file-upload>
  </div>
  <div class="mb-3">
    <app-tinymce-editor formControlName="body"></app-tinymce-editor>
  </div>
  <div class="form-controls">
    <button type="button" class="btn btn-primary" (click)="submit.emit()">
      Сохранить
    </button>
    <button type="button" class="btn btn-danger" (click)="toggle.emit()">
      Отмена
    </button>
  </div>
</form>
