<div class="abiturients">
  <div class="container">
    <app-sidebar></app-sidebar>
  
    <div class="abiturients-main">
      <div class="article-list">
        <div class="article-list__item" *ngFor="let article of articles">
          <span class="article-date">24 июля 2021 г.</span>
          <h2 class="article-title">{{ article.title }}</h2>
          <p class="article-desk">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque autem non mollitia illum natus, velit porro, vero ducimus quae asperiores error ut accusamus assumenda commodi, minus aperiam cumque sint ratione!</p>
          <span class="article-more">
            Подробнее
            <app-icons class="article-more__icon" icon="arrow"></app-icons>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
