<ng-container>
  <div class="container">
    <h1 class="title2">Лаборатории коллективного пользования</h1>

    <div class="search-block">
      <input type="text" class="search-input" placeholder="Поиск" [formControl]="searchControl">
      <button type="button" class="search-elem"></button>
    </div>

    <div class="labs">
      <button class="lab" *ngFor="let ind of industries;" [innerHtml]="ind?.name" 
        [class.active]="ind?.id === selectedIndustrie?.id">
      </button>
    </div>

    <div class="no-data flex-start" *ngIf="loading">
      <mat-progress-bar mode="indeterminate" ></mat-progress-bar>
    </div> 

    <ng-container *ngIf="!loading">
      <app-labs-list  
        *ngIf="labs?.length" 
        [labs]="labs" 
        [showTitle]="false"
        [downLine]="true"
      >
      </app-labs-list>

      <div class="no-data" *ngIf="noData">
        Нет данных по вашему запросу
      </div>
    </ng-container>
  </div>
</ng-container>