<div class="carousel">

  <div class="swiper swiper--mobile">
    <swiper
      [slidesPerView]="'auto'"
      [spaceBetween]="5"
      [pagination]="{
        clickable: true
      }"
    >
      <ng-container *ngFor="let item of data">
        <ng-template swiperSlide>
        </ng-template>
      </ng-container>
    </swiper>
  </div>

  <div class="swiper swiper--desktop">
    <div class="equipments-prev">
      <img src="assets/icons/arrow.svg" alt="" />
    </div>

    <swiper [config]="swiperParams">
      <ng-container *ngFor="let item of data">
        <ng-template swiperSlide>
        </ng-template>
      </ng-container>
    </swiper>

    <div class="equipments-next">
      <img src="assets/icons/arrow.svg" alt="" />
    </div>
  </div>
</div>
