<div class="file" *ngIf="image">
  <div class="image" (click)="copyLink(image.path)">
    <img class="image-source" [src]="host + image.path" [alt]="image.name" />
    <div class="image-backdrop"></div>
    <app-icons
      *ngIf="copied"
      class="icon-checkmark"
      icon="checkmark"
    ></app-icons>
  </div>
  <div class="description">
    <p class="name">{{ image.name }}</p>
    <div class="controls">
      <span class="copy" (click)="copyLink(image.path)">
        Скопировать ссылку
      </span>
      <app-icons
        class="icon-delete"
        icon="delete"
        (click)="deleteFile.emit(image.id)"
      ></app-icons>
    </div>
  </div>
</div>
