::ng-deep {
  .mat-accordion .mat-expansion-panel {
    border-radius: 8px !important;
    box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
  }

  .mat-expansion-panel-header,
  .mat-expansion-panel-header.mat-expanded {
    padding: 18px 26px;
    height: 142px;
    
    .mat-content {
      overflow: initial;
    }
  }

  .mat-expansion-panel-header.mat-expanded,
  .mat-expansion-panel-header.mat-expanded:focus, 
  .mat-expansion-panel-header.mat-expanded:hover {
    background: linear-gradient(180deg, #2B51A1 0%, #3470CD 100%) !important;
  }

  .mat-expansion-panel-body {
    padding: 0 !important;
  }
}


.header-content {
  display: flex;
  width: 100%;

  &__img {
    flex: 0 0 96px;
  }
  &__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 18px;
  }
  &__controls {
    flex: 0;
    display: flex;
    flex-direction: column;
  }
}

.img {
  width: 96px;
  height: 96px;
  object-fit: contain;
}

.title {
  color: #031D5B;
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;

  &.active {
    color: #fff;
    font-size: 35px;
    line-height: 42px;
  }

  &-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
  }
}

.total-projects {
  color: #2F80ED;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;

  &.active {
    color: #fff;
  }

  strong {
    font-size: 25px;
    line-height: 30px;
    margin-left: 20px;
  }
}

.btn {
  width: 168px;
  border-radius: 5px;

  &-order {
    background: linear-gradient(65.01deg, #233275 -60.11%, #387DDF 105.46%);
    border: none;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 11px;
    height: 49px;

    &.active {
      background: #fff;
      color: #2F80ED;
    }
  }

  &-more {
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #272D4E;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    height: 45px;
  }
}

.min-price {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

.research-details {
  display: flex;
  flex-direction: column;
  padding: 10px 16px;

  &__desc {
    color: #031D5B;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.2px;
    margin: 10px 0 24px;
    padding: 0 34px;
  }

  &__carousel {
    margin-bottom: 28px;
  }

  &__experts {
    margin-bottom: 28px;
    padding: 0 34px;
    width: 100%;
  }
}