@import "../../../../shared/styles/variables";

::ng-deep {
  .mat-accordion .mat-expansion-panel {
    border-radius: 8px !important;
    box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
  }

  .mat-expansion-panel-header,
  .mat-expansion-panel-header.mat-expanded {
    padding: 18px 26px;
    height: 142px;

    @include breakpoint(mobile) {
      padding: 16px !important;
      height: auto;
    }
    
    .mat-content {
      overflow: initial;
    }
  }

  .mat-expansion-panel-header.mat-expanded,
  .mat-expansion-panel-header.mat-expanded:focus, 
  .mat-expansion-panel-header.mat-expanded:hover {
    background: linear-gradient(180deg, #2B51A1 0%, #3470CD 100%) !important;
  }

  .mat-expansion-panel-body {
    padding: 0 !important;
  }
}


.header-content {
  display: flex;
  width: 100%;

  @include breakpoint(mobile) {
    flex-wrap: wrap;
  }

  &__img {
    flex: 0;
    @include breakpoint(tablet) {
      margin-right: 12px;
    }
    @include breakpoint(mobile) {
      margin-right: 12px;
    }
  }
  &__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 18px;

    @include breakpoint(tablet) {
      padding: 0 16px 0 0;
    }

    @include breakpoint(mobile) {
      padding: 0 12px 0 0;
    }
  }
  &__controls {
    flex: 0;
    display: flex;
    flex-direction: column;
    
    @include breakpoint(tablet) {
      justify-content: space-around;
    } 

    @include breakpoint(mobile) {
      flex: 1 0 100%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 12px;
    } 
  }
}

.img {
  width: 96px;
  height: 96px;
  object-fit: contain;
}

.title {
  color: #031D5B;
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;

  @include breakpoint(ipad) {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 5px;
  } 
  
  @include breakpoint(tablet) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px;
  } 

  @include breakpoint(mobile) {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 5px;
  } 

  &.active {
    color: #fff;
    font-size: 35px;
    line-height: 42px;

    @include breakpoint(tablet) {
      font-size: 28px;
      line-height: 32px;
    } 

    @include breakpoint(mobile) {
      font-size: 24px;
      line-height: 30px;
    } 
  }

  &-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
  }
}

.total-projects {
  color: #2F80ED;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;

  &.active {
    color: #fff;
  }

  strong {
    font-size: 25px;
    line-height: 30px;
    margin-left: 20px;

    @include breakpoint(ipad) {
      font-size: 22px;
      line-height: 24px;
      margin-left: 5px;
    }

    @include breakpoint(tablet) {
      font-size: 20px;
      line-height: 24px;
      margin-left: 5px;
    }

    @include breakpoint(mobile) {
      font-size: 18px;
      line-height: 24px;
      margin-left: 5px;
    } 
  }
}

.btn {
  width: 168px;
  border-radius: 5px;

  &-order {
    background: linear-gradient(65.01deg, #233275 -60.11%, #387DDF 105.46%);
    border: none;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 11px;
    height: 49px;

    @include breakpoint(ipad) {
      font-size: 18px;
      line-height: 24px;
      height: 44px;
    }

    @include breakpoint(tablet) {
      font-size: 16px;
      line-height: 22px;
      height: 42px;
    }

    @include breakpoint(mobile) {
      flex: 1;
      width: auto;
      font-size: 14px;
      line-height: 18px;
      margin: 0 8px 0 0;
      height: 36px;
    }

    &.active {
      background: #fff;
      color: #2F80ED;
    }
  }

  &-more {
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #272D4E;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    height: 45px;

    @include breakpoint(ipad) {
      height: 42px;
    }

    @include breakpoint(tablet) {
      font-size: 14px;
      height: 40px;
    }

    @include breakpoint(mobile) {
      flex: 1;
      width: auto;
      box-shadow: none;
      font-size: 14px;
      height: 36px;
    }

    &:disabled {
      background: #f1f1f1;
      color: #989898;
    }
  }
}

.min-price {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;

  @include breakpoint(tablet) {
    font-size: 22px;
    line-height: 28px;
  }

  @include breakpoint(mobile) {
    font-size: 20px;
    line-height: 24px;
  }
}

.research-details {
  display: flex;
  flex-direction: column;
  padding: 10px 16px;

  @include breakpoint(mobile) {
    padding: 5px 8px;
  }

  &__desc {
    color: #031D5B;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.2px;
    margin: 10px 0 24px;
    padding: 0 20px;

    @include breakpoint(tablet) {
      font-size: 22px;
      line-height: 28px;
      letter-spacing: 0.2px;
      margin: 7px 0 14px;
    }

    @include breakpoint(mobile) {
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.2px;
      margin: 5px 0 10px;
    }
  }

  &__carousel {
    margin: 24px 0 28px;
    margin-bottom: 20px;
  }

  &__experts {
    margin-bottom: 32px;
    padding: 0 34px;
    width: 100%;

    @include breakpoint(tablet) {
      margin-bottom: 24px;
      padding: 0 20px;
    }

    @include breakpoint(mobile) {
      margin-bottom: 24px;
      padding: 0 20px;
    }
  }

  &__labs {
    margin-bottom: 32px;
    padding: 0 34px;
    width: 100%;

    @include breakpoint(tablet) {
      margin-bottom: 24px;
      padding: 0 20px;
    }

    @include breakpoint(mobile) {
      margin-bottom: 20px;
      padding: 0 20px;
    }
  }
}