<mat-expansion-panel hideToggle (opened)="panelOpenState = true" (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <div class="header-content">
      <div class="header-content__img">
        <img class="img" src="assets/pics/research/research-12/{{research.id}}.png" alt="" />
      </div>
      <div class="header-content__main">
        <div class="title-wrapper">
          <h2 class="title" *ngIf="research?.name as name">{{ name }}</h2>
        </div>
        <div class="total-projects">
          Выполнено <strong>{{ research?.done }}</strong>
        </div>
      </div>
      <div class="header-content__controls">
        <button class="btn btn-order">Заказать</button>
        <button class="btn btn-more">Подробнее</button>
      </div>
    </div>
  </mat-expansion-panel-header>
  <p>This is the primary content of the panel.</p>
</mat-expansion-panel>