<mat-expansion-panel 
  hideToggle 
  [disabled]="!miniResearch?.equipmentIds && !miniResearch?.expertIds && !miniResearch?.gallery" 
  (opened)="togglePanelState()" 
  (closed)="togglePanelState()"
>
  <mat-expansion-panel-header>
    <div class="header-content">
      <div class="header-content__img" *ngIf="!panelOpenState">
        <img class="img" src="assets/pics/research/research-12/{{miniResearch.id}}.png" alt="" />
      </div>
      <div class="header-content__main">
        <div class="title-wrapper">
          <h2 class="title" [class.active]="panelOpenState" *ngIf="miniResearch?.name as name">{{ name }}</h2>
        </div>
        <div class="total-projects" [class.active]="panelOpenState">
          Выполнено <strong>{{ miniResearch?.done }}</strong>
        </div>
      </div>
      <div class="header-content__controls">
        <button class="btn btn-order" [class.active]="panelOpenState" (click)="openDialog(); $event.stopPropagation();">Заказать</button>
        <button 
          *ngIf="!panelOpenState"
          class="btn btn-more" 
          [disabled]="!miniResearch?.equipmentIds && !miniResearch?.expertIds && !miniResearch?.gallery"
        >Подробнее</button>
        <span class="min-price" *ngIf="panelOpenState && miniResearch?.minPrice">От {{ miniResearch?.minPrice | separator }} тг</span>
      </div>
    </div>
  </mat-expansion-panel-header>

  <div class="research-details" *ngIf="panelOpenState">
    <app-mini-carousel *ngIf="miniResearch?.gallery" [miniResearchId]="miniResearch.id" [gallery]="miniResearch.gallery"></app-mini-carousel>
  
    <p *ngIf="miniResearch?.desc" class="research-details__desc">{{ miniResearch.desc }}</p>

    <app-general-carousel *ngIf="equipments?.length" class="research-details__carousel" [data]="equipments"></app-general-carousel>
  
    <app-experts-list *ngIf="experts?.length" class="research-details__experts" [experts]="experts"></app-experts-list>

    <app-labs-list *ngIf="labs?.length" class="research-details__labs" [labs]="labs"></app-labs-list>
  </div>
</mat-expansion-panel>