<div class="feedback">
  <div class="container">
    <div class="college-video">
      <iframe
        width="650"
        height="400"
        src="https://www.youtube.com/embed/fDLfv_iazQI"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>

    <div class="feedback-form">
      <div class="feedback-form__text">
        <span class="form-text">Узнай больше о скидках</span>
        <span class="form-text">Колледжа им. Д.А. Кунаева</span>
      </div>
      <form class="feedback-form__form">
        <label for="name" class="form-label">Введите ваше имя *</label>
        <input type="text" id="name" class="form-input" />

        <label for="email" class="form-label">Введите ваш email</label>
        <input type="text" id="email" class="form-input" />

        <label for="phone" class="form-label">Введите ваш телефон *</label>
        <input type="text" id="phone" class="form-input" />

        <button type="submit" class="btn-submit">Отправить</button>
      </form>
    </div>
  </div>
</div>
