.research {}

.breadcrumb {}

.breadcrumb-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.search-block {
  width: 535px;
  height: 38px;
  background: #fff;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  position: relative;

  .search-input {
    padding: 0 40px 0 20px;
    height: 100%;
    width: 100%;
    border: none;

    &::placeholder {
      font-size: 12px;
    }
  }

  .search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 18px;
    height: 18px;
  }
}

.title {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  text-transform: uppercase;
  color: #031D5B;
  margin-bottom: 24px;
}

.desc {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
  margin: 0 auto;
  width: 70%;
}

.container {
  position: relative;
}

.filter {
  position: absolute;
  right: 101%;
}

.researches-list {
  display: block;
  margin: 24px 0;
}