<section class="research">
  <div class="container">
    <div class="breadcrumb-wrapper">
      <p class="breadcrumb">
        Исследования {{title?'/':''}} {{title}}
      </p>
      <div class="search-block">
        <input type="text" class="search-input" placeholder="Введите название лаборатории, оборудования, исследования....">
        <img src="./assets/icons/search.svg" alt="search-icon" class="search-icon">
      </div>
    </div>
  </div>

  <div class="container">
    <app-expansion-panels></app-expansion-panels>
  </div>


  <div class="container">
    <!-- <div class="filter">
      <p>Все исследования 
        в горнодобывающей отрасли</p>
    </div> -->
    <h1 class="title">Минералогические исследования</h1>
    <p class="desc">
      Минералогический отдел является одним из старейших подразделений Института и ведущим в отрасли по минералогическому изучению минерального сырья.
    </p>

    <!-- <app-expansion-panel></app-expansion-panel> -->

    <app-contact-form></app-contact-form>

  </div>


</section>

