.research {}

.breadcrumb {}

.breadcrumb-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.search-block {
  width: 535px;
  height: 38px;
  background: #fff;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  position: relative;

  .search-input {
    padding: 0 40px 0 20px;
    height: 100%;
    width: 100%;
    border: none;

    &::placeholder {
      font-size: 12px;
    }
  }

  .search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 18px;
    height: 18px;
  }
}

.title {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  text-transform: uppercase;
  color: #031D5B;
  margin-bottom: 24px;
}

.desc {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
  margin: 0 auto;
  width: 70%;
}

.container {
  position: relative;
}

.filter {
  position: absolute;
  right: 101%;
  width: 290px;

  &__industry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #9DC2FF;
    border-radius: 8px;
    color: #2F80ED;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    padding: 8px 16px;
    cursor: pointer;
    min-height: 50px;
    position: relative;

    .industry__arrow {
      width: 15px;
      height: 9px;
      transition: all 0.2s ease-in;

      &.toggled {
        transform: rotate(180deg);
      }
    }
  }

  .list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    color: #19191D;
    font-size: 16px;
    line-height: 24px;
    margin-top: 12px;
    padding: 8px 16px;
    min-height: 40px;
    position: relative;

    &.disabled {
      color: #808080;
      pointer-events: none;
    }

    &:hover:not(.disabled),
    &.active {
      background: #FFFFFF;
      color: #2264D1;
      font-weight: 500;
      cursor: pointer;
      
      .list-item__arrow {
        opacity: 1;
      }
    }

    &__arrow {
      width: 15px;
      height: 9px;
      transform: rotate(-90deg);
      opacity: 0;
    }
  }
}

.researches-list {
  display: block;
  margin: 24px 0;
}