@import "../../../shared/styles/variables";

.research {}

.breadcrumb {
  @include breakpoint(mobile) {
    font-size: 14px;
    line-height: 20px;
  }
}

.breadcrumb-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;

  @include breakpoint(mobile) {
    margin: 0 0 24px;
  }
}

.search-block {
  width: 535px;
  height: 38px;
  background: #fff;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  position: relative;

  .search-input {
    padding: 0 40px 0 20px;
    height: 100%;
    width: 100%;
    border: none;

    &::placeholder {
      font-size: 12px;
    }
  }

  .search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 18px;
    height: 18px;
  }
}

.title {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  text-transform: uppercase;
  color: #031D5B;
  margin-bottom: 24px;

  @include breakpoint(ipad) {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 16px;
  }

  @include breakpoint(tablet) {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 12px;
  }

  @include breakpoint(mobile) {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 8px;
  }
}

.desc {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
  margin: 0 auto;
  width: 70%;

  @include breakpoint(ipad) {
    font-size: 18px;
    line-height: 28px;
    width: 85%;
  }
  
  @include breakpoint(tablet) {
    font-size: 18px;
    line-height: 28px;
    width: 85%;
  }

  @include breakpoint(mobile) {
    font-size: 16px;
    line-height: 24px;
    width: 95%;
  }
}

.container {
  position: relative;
}

.filter {
  margin-bottom: 40px;

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }
}

.researches-list {
  display: block;
  margin: 24px 0;

  @include breakpoint(mobile) {
    margin: 20px 0;
  }
}

:host {
  ::ng-deep {

    .my-select {
      margin-right: 10px;
      width: 290px;
      background: #fff;
      border: 1px solid #9DC2FF;
      box-sizing: border-box;
      border-radius: 8px;
      font-weight: bold;
      font-size: 14px;
      line-height: 150%;
      height: 40px;
      padding-top: 9px;
      padding-left: 20px;
      padding-right: 20px;

      @include breakpoint(mobile) {
        margin: 0 0 10px;
        width: 100%;
      }

      .mat-select-value {
        color: #2F80ED !important;
      }

      .mat-select-arrow {
        position: relative;
        border: none;
        width: 9px;
        height: 9px;

        &::after {
          top: -2px;
          transform: rotate(225deg);
          content: "";
          position: absolute;
          left: 0px;
          z-index: 11;
          display: block;
          width: 9px;
          height: 9px;
          border-top: 2px solid #2264D1;
          border-left: 2px solid #2264D1;
        }
      }
    }
  }
}