<section class="research">
  <div class="container">
    <div class="breadcrumb-wrapper">
      <p class="breadcrumb">
        Исследования {{title?'/':''}} {{title}}
      </p>
      <div class="search-block">
        <input type="text" class="search-input" placeholder="Введите название лаборатории, оборудования, исследования....">
        <img src="./assets/icons/search.svg" alt="search-icon" class="search-icon">
      </div>
    </div>
  </div>

  <div class="container">
    <!-- <div class="filter">
      <p>Все исследования 
        в горнодобывающей отрасли</p>
    </div> -->
    <h1 class="title">{{ research?.name }}</h1>
    <p class="desc">{{ research?.desc }}</p>

    <app-expansion-panels class="researches-list" [researches]="miniResearches"></app-expansion-panels>

    <app-contact-form></app-contact-form>

  </div>


</section>

