<div class="no-data flex-start" *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<section class="research" *ngIf="!loading">
  <div class="container">
    <div class="breadcrumb-wrapper">
      <p class="breadcrumb">
        Исследования {{ research?.name ? '/' : '' }} {{ research?.name }}
      </p>
    </div>
    <div class="filter">
      <mat-select class="my-select" disableOptionCentering [(ngModel)]="industrieId">
        <mat-option *ngFor="let ind of industries" [value]="ind.id" [disabled]="ind.id != industrieId">
          <span [innerHtml]="ind.name"></span>
        </mat-option>
      </mat-select>

      <mat-select class="my-select" disableOptionCentering [(ngModel)]="researchId">
        <mat-option *ngFor="let res of chosenResearchList" [value]="res.id" [disabled]="res.id != researchId">
          <span [innerHtml]="res.name"></span>
        </mat-option>
      </mat-select>
    </div>
    <h1 class="title">{{ research?.name }}</h1>
    <p class="desc">{{ research?.desc }}</p>
    <app-expansion-panels class="researches-list" [researches]="miniResearches"></app-expansion-panels>
    <app-contact-form></app-contact-form>
  </div>
</section>