.achievement {
  &-img {
    object-fit: contain;
    width: 100%;
    height: auto;
  }

  &-list {
    display: flex;
    flex-direction: column;

    &__item {
      & + & {
        margin-top: 1rem;
      }
    }
  }
}
