<div class="no-data flex-start" *ngIf="loading">
  <mat-progress-bar mode="indeterminate">
  </mat-progress-bar>
</div>

<ng-container *ngIf="!loading">
  <div class="section-1">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="equipment-name">
            {{equipmentInfo?.name}}
          </h1>
          <p class="description">
            {{equipmentInfo?.desc}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section-gallery" *ngIf="equipmentInfo">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="main-pic-wrap">
            <div class="main-pic"
              [style.background-image]="'url('+'./assets/pics/equipments/equipment-'+equipmentInfo?.id+'/'+'1.png)'">
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="right">
            <div class="photo-wrap" *ngFor="let item of [2,3,4,5]">
              <img [src]="'./assets/pics/equipments/equipment-'+equipmentInfo?.id+'/'+ item + '.png'" alt="" class="photo">
<!--               <div class="photo" [style.background-image]="'url('+'./assets/pics/equipments/equipment-'+equipmentInfo?.id+'/'+ item + '.png)'">
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <div class="section-performance">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="technical-characteristics">
            <p class="title">Технические характеристики</p>
            <ul class="specifications__list">
              <li class="specifications__list--item" *ngFor="let specification of equipmentInfo?.specifications">
                <div class="name">
                  {{specification?.name}}
                </div>
                <div class="value">
                  {{specification?.desc}}
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="section-researches">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="title">В каких исследованиях участвует </p>
          <app-expansion-panels [researches]="miniResearches"></app-expansion-panels>
        </div>
      </div>
    </div>
  </div>
  
  <div class="section-labs">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="title">В каких лабораториях присутствует</p>
            <div class="research-details__labs">
              <app-labs-list  *ngIf="labs?.length" [labs]="labs" [showTitle]="false"></app-labs-list>
            </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

