.debbug {
  border: 1px solid red;
}

.equipment-name {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  text-transform: uppercase;
  color: #031D5B;
  margin-bottom: 50px;
}

.description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #272D4E;
  margin-bottom: 50px;
}

.main-pic-wrap {
  height: 546px;
  background: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
}

.main-pic {
  height: 546px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.right {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  .photo-wrap {
    width: 50%;
    height: 273px;
    position: relative;

    &:nth-child(3),
    &:nth-child(4) {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }

  .photo {
    height: 260px;
    width: auto;
    border: 1px solid #E0E0E0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
  }
}

.title {
  display: inline-block;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  letter-spacing: 0.2px;
  color: #031D5B;
  margin-bottom: 50px;

  &::after {
    display: block;
    content: "";
    border: 2px solid #2F80ED;
    margin-top: 20px;
    // background: #2F80ED;
  }
}

.technical-characteristics {
  margin-bottom: 70px;

  & .specifications__list {
    width: 700px;
    list-style: none;

    &--item {
      height: 50px;
      display: flex;

      & .name,
      & .value {
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0.2px;
        color: #031D5B;
        width: 50%;
        &::first-letter {
          text-transform: uppercase;
        }
      }
    }

  }
}

.section-gallery {
  margin-bottom: 40px;
}

.section-researches,
.section-labs {
  margin-bottom: 60px;
}

.research-details__labs {
  padding-right: 24px;
}