<div class="section-1">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <h1 class="equipment-name">
          {{equipmentInfo?.name}}
        </h1>

        <p class="description">
          {{equipmentInfo?.desc}}
        </p>

        <div class="gallery">
          <div class="left">
            <img *ngIf="isPhotoExist('1')" src="./assets/pics/equipments/1.png" alt="">
          </div>
          <div class="right">

            <div class="row row-bottom">
              <div class="photo">
                <img *ngIf="isPhotoExist('2')" src="./assets/pics/equipments/1.png">
              </div>
              <div class="photo photo-left">
                <img *ngIf="isPhotoExist('3')" src="./assets/pics/equipments/1.png">
              </div>
            </div>

            <div class="row">
              <div class="photo">
                <img *ngIf="isPhotoExist('4')" src="./assets/pics/equipments/1.png">
              </div>
              <div class="photo photo-left">
                <img *ngIf="isPhotoExist('5')" src="./assets/pics/equipments/1.png">
              </div>
            </div>

          </div>   
        </div>

        <div class="technical-characteristics">
          <p class="title">Технические характеристики</p>
          <div class="line">
          </div>
          <ul class="specifications__list">
            <li class="specifications__list--item" *ngFor="let specification of equipmentInfo?.specifications">
              <div class="name">
                {{specification?.name}}
              </div>
              <div class="value">
                {{specification?.desc}}
              </div>
            </li>
          </ul>
        </div>

        <p class="title">В каких исследованиях участвует </p>
        <div class="line">
        </div>
        <app-expansion-panels [researches]="researchIds"></app-expansion-panels>

        <p class="title">В каких лабораториях присутствует</p>
        <div class="line">
        </div>
        
        <div class="labs">
          <div class="labs" *ngFor="let data of labs">

          </div>
        </div>

      </div>
    </div>
  </div>
</div>