@import '../../../shared/styles/variables';

.general-title {
  display: inline-block;
  letter-spacing: 0.2px;
  color: #031D5B;
  font-weight: 500;

  &::after {
    display: block;
    content: "";
    margin-top: 10px;
    border: 2px solid #2F80ED;
    background: #2F80ED;
  }
}

.verysmall {
  font-size: 19px;
  line-height: 22px;

  &::after { 
    border: 1px solid #2F80ED;
  }

  @include breakpoint(tablet) {
    font-size: 18px;
  } 

  // @include breakpoint(ipad, landscape) {
  //   font-size: 28px;
  //   margin-bottom: 24px;
  // }

  @include breakpoint(mobile) {
    font-size: 16px;
    line-height: 1;
  }

}

.big {
  line-height: 41px;
  font-size: 35px;

  @include breakpoint(tablet) {
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-bottom: 16px;
    margin-top: 20px;
  } 

  // @include breakpoint(ipad, landscape) {
  //   font-size: 22px;
  //   line-height: 24px;
  //   letter-spacing: 0.2px;
  //   margin-bottom: 16px;
  //   margin-top: 20px;
  // }

  @include breakpoint(mobile) {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 20px;
  }

  &::after {
    display: block;
    content: "";
    margin-top: 20px;
    border: 2px solid #2F80ED;
    background: #2F80ED;

    @include breakpoint(ipad, landscape) {
      margin-top: 4px;
    }

    @include breakpoint(tablet) {
      margin-top: 4px;
    }
  }

}
