<div class="section-1">
  <div class="container">
    <h1 class="title">Лаборатории коллективного пользования Satbayev University</h1>

    <div class="search-block">
      <input type="text" class="search-input" placeholder="Введите название лаборатории, оборудования, исследования....">
      <button type="button" class="search-elem"></button>
    </div>

    <div class="labs">
      <button class="lab" *ngFor="let lab of labs;" [innerHtml]="lab?.name" (click)="selectLab(lab)"
      [class.active]="lab?.id === selectedLabId">
      </button>
    </div>

    <h2 class="sub-title">Исследования по нефти и газу</h2>

    
  </div>
</div>

<div class="section-2">
  <div class="container">
    <div class="row research-cards">
      <div class="col-4" *ngFor="let item of research; let i = index;">
        <div class="research-card-wrapper">
          <div class="research-card">
            <h4 class="research-title">{{item?.name}}</h4>
            <div class="research-picture">
              <img [src]="'./assets/research/'+item?.id+'.png'" alt="картинка">
            </div>
            <button type="button" class="research-detail"> Подробнее </button>
          </div>
        </div>
      </div>
    </div>

    <div class="load-more-wrapper">
      <button type="button" class="load-more">Загрузить еще</button>
    </div>

  </div>
</div>

<app-footer></app-footer>
