<div class="container">
  <h1 class="title">Лаборатории коллективного пользования Satbayev University</h1>

  <div class="search-block">
    <!-- лаборатории, оборудования,  -->
    <input type="text" class="search-input" placeholder="Введите название исследования...."
    [formControl]="searchControl">
    <button type="button" class="search-elem"></button>
  </div>

  <div class="labs">
    <button class="lab" *ngFor="let ind of industries;" [innerHtml]="ind?.name" (click)="selectIndustrie(ind)"
      [class.active]="ind?.id === selectedIndustrie?.id">
    </button>
  </div>

  <div class="no-data flex-start" *ngIf="loading">
    <mat-progress-bar mode="indeterminate" ></mat-progress-bar>
  </div>  

  <ng-container *ngIf="!loading">
    <ng-container *ngFor="let ind of industriesEx">
      <ng-container *ngIf="ind?.id !== -1 && !ind?.hide">
        <h2 class="sub-title" [innerHtml]="ind?.name"></h2>
      
        <div class="row research-cards">
          <ng-container *ngFor="let item of ind?.research; let i = index;">
            <div class="col-4" *ngIf="!item?.hide">
              <div class="research-card-wrapper">
                <div class="research-card">
                  <h4 class="research-title">{{item?.name}}</h4>
                  <div class="research-picture">
                    <img [src]="'./assets/pics/research/'+item?.id+'.png'" alt="картинка">
                  </div>
                  <button 
                    type="button" 
                    class="research-detail" 
                    [routerLink]="['/research', item.id]"
                    [disabled]="!item?.miniResearchIds"
                  > Подробнее </button>
                </div>
              </div>
            </div>
          </ng-container>
          
        </div>
      </ng-container>
      
    </ng-container>
  </ng-container>
  


  <div class="no-data" *ngIf="noData">
    Нет данных по вашему запросу
  </div>
  


<!--   <div class="load-more-wrapper">
    <button type="button" class="load-more">Загрузить еще</button>
  </div> -->

</div>