<div class="about">
  <div class="container">
    <div class="about__left">
      <h1 class="title">Высшее образование в юридическом университете в Алматы</h1>
      <div class="info"> 
        <div class="info__item"> 
          <app-icons class="info__icon" icon="building"></app-icons>
          <p>12 этажное здание: со спортзалом, кабинетами, общежитием, столовой, Wi-Fi</p>
        </div>
        <div class="info__item"> 
          <app-icons class="info__icon" icon="diploma"></app-icons>
          <p>24 года опыта в обучении юристов и финансистов</p>
        </div>
        <div class="info__item"> 
          <app-icons class="info__icon" icon="master"></app-icons>
          <p>100% трудоустройство после окончания</p>
        </div>
        <div class="info__item">
          <app-icons class="info__icon" icon="analytics"></app-icons>
          <p>Практика в МВД, КНБ, Суде, Юр. органах, ком. банках, фин. и страх. компаниях, департаменте гос. доходов, ЦОН, аппараты акимов.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="programs">
  <div class="container">
    <h2 class="programs-title">Программы</h2>
    <div class="programs-list">
      <div 
        class="programs-list__item" 
        *ngFor="let program of programs"
        [style.backgroundImage]="'url(../../../../assets/pics/' + (program.img ? program.img : 'finance.jpg') +  ')'"
      >
        <span class="programs-list__title">{{ program.title }}</span>
        <span class="programs-list__more">
          Подробнее
          <app-icons class="programs-list__icon" icon="arrow"></app-icons>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="gallery">
  <div class="container">
    <h2 class="gallery-title">Студенческая жизнь</h2>
  
    <div class="gallery-slides">
      <div class="slide-prev">
        <app-icons class="slide-icon" icon="ctrl"></app-icons>
      </div>
  
      <swiper class="swiper" [config]="swiperParams">
        <ng-container *ngFor="let slide of [].constructor(8); index as i">
          <ng-template swiperSlide>
            <img class="swiper-img" src="assets/pics/students/{{ i + 1 }}.jpg" alt="" />
          </ng-template>
        </ng-container>
      </swiper>
  
      <div class="slide-next">
        <app-icons class="slide-icon" icon="ctrl"></app-icons>
      </div>
    </div>
  </div>
</div>

<div class="contact">
  <div class="container">
    <div class="contact-map"></div>
    <div class="contact-details">
      <h3 class="contact-details__title">Контакты</h3>
      <div class="contact-details__list list">
        <div class="list-item">
          <span class="list-item__main">Адрес:</span>
          <p class="list-item__body">Республика Казахстан, г. Алматы, Курмангазы 107 (уг.ул. Байтурсынова)</p>
        </div>
        <div class="list-item">
          <span class="list-item__main">Телефон:</span>
<!-- Whats Up: 8 (701) 513 11 55 -->
          <a class="list-item__body">+7 (701) 233-58-88 (call-center)</a>
          <a class="list-item__body">+7 (727) 350-78-88</a>
          <a class="list-item__body">+7 (727) 292-98-77 (факс)</a>
        </div>
        <div href="#" class="list-item">
          <span class="list-item__main">Email:</span>
          <a class="list-item__body list-item__body--link">info@test.kz</a>
        </div>
        <div class="list-item">
          <span class="list-item__main">Соц.сети:</span>
          <div class="list-item__body social-icons">
            <app-icons class="social-icon social-icon--instagram" icon="instagram"></app-icons>
            <app-icons class="social-icon social-icon--whatsapp" icon="whatsapp"></app-icons>
            <app-icons class="social-icon social-icon--vk" icon="vk"></app-icons>
            <app-icons class="social-icon social-icon--youtube" icon="youtube"></app-icons>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>