@import '../../../shared/styles/variables';

.debbug {
  border: 1px solid red;
}

.card-col {
  flex-basis: 33.3%;

  @include breakpoint(mobile) {
    flex-basis: 100%;
  }

  // @include breakpoint(ipad) {
  //   flex-basis: 50% !important;
  // }

  // @include breakpoint(ipad, landscape) {
  //   flex-basis: 50% !important;
  // }

  // @include breakpoint(iphoneX) {
  //   flex-basis: 100%;
  // }
  
  // @include breakpoint(iphoneX, landscape) {
  //   flex-basis: 50%;
  // }


  // @include breakpoint(ipadpro) {

  // }

  // @include breakpoint(ipad, landscape) {
  //   flex-basis: 50% !important;
  // }

}

.col-4 {
  &:nth-child(3n+1) {
    .research {
      &-card-wrapper {
        padding-left: 0;
      }
    }
  }
  &:nth-child(3n+3) {
    .research {
      &-card-wrapper {
        padding-right: 0;
      }
    }
  }
}

.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 70px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #272D4E;
  margin-bottom: 15px;

  @include breakpoint(mobile) {
    font-size: 17px;
    line-height: 1;
  }

  // @include breakpoint(iphoneX) {
  //   font-style: normal;
  //   font-weight: 500;
  //   font-size: 16px;
  //   line-height: 19px;
  //   text-align: center;
  //   text-transform: uppercase;
  //   color: #031D5B;
  //   margin-top: 24px;
  //   margin-bottom: 16px;
  // }

  // @include breakpoint(iphoneX, landscape) {
  //   font-size: 37px;
  //   line-height: 1;
  // }

  // @include breakpoint(ipad) {
  //   font-size: 30px;
  //   line-height: 1;
  // }

  // @include breakpoint(ipad, landscape) {
  //  font-size: 30px;
  //  line-height: 1;
  // }
}

.search-block {
  height: 60px;
  background: #fff;
  border: 1px solid #F2F2F2;
  border-radius: 6px;
  position: relative;
  margin-bottom: 30px;

  @include breakpoint(mobile) {
    display: none;
  }

  // @include breakpoint(iphoneX) {
  //   display: none;
  // }


    
  // @include breakpoint(mobile) {
  //   margin-bottom: 20px;
  // }

  .search-input {
    padding: 0 28px;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 6px;

    // @include breakpoint(mobile) {
    //   font-size: 13px;
    // }
  }

  .search-elem {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 28px;
    width: 28px;
    height: 28px;
    background-image: url('/assets/icons/search.svg');
    background-size: cover;
    background-color: transparent;
    border: none;

    // @include breakpoint(iphoneX) {
    //   width: 20px;
    //   height: 20px;
    // }
    
  }
}

.no-data {
  margin-top: 10px;
}

.labs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;

  @include breakpoint(mobile) {
    display: none;
  }

  .lab {
    flex: 1;
    height: 36px;
    padding: 0 13px;
    margin-right: 12px;
    background: #fff;
    border: 1px solid #C8C8C8;
    box-shadow: 0px 5px 8px rgba(82, 82, 82, 0.05);
    border-radius: 4px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #202525;
    cursor: pointer;
    transition: all 0.2s ease-in;
    max-width: 265px;
    margin-top: 5px;

    &:first-of-type {
      max-width: 82px;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &.active {
      color: #fff;
      background: #272D4E;
    }
  }
}

.labs-select {
  display: none;

  @include breakpoint(mobile) {
    background: #F2F2F2;
    height: 60px;
    border-top: 1px solid #9EA4BC;
    border-bottom: 1px solid #9EA4BC;
    padding: 6px 16px;
  
    display: flex;
    justify-content: center;
  }
}

.sub-title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  text-transform: uppercase;
  color: #031D5B;
  // margin: 37px 0 41px;

  @include breakpoint(mobile) {
    font-size: 16px;
    line-height: 1;
    margin: 30px 0 15px;
  }

  // @include breakpoint(iphoneX) {
  //   font-size: 17px;
  // }

  // @include breakpoint(ipad) {
  //   font-size: 26px;
  //   margin: 20px 0 15px;
  // }
}

.research {
  &-cards {
    margin-bottom: 43px;

    // @include breakpoint(ipad) {
    //   margin-bottom: 0;
    // }
  }

  &-card-wrapper {
    padding: 15px;

    // @include breakpoint(mobile) {
    //   padding: 0 !important;
    //   margin-bottom: 15px;
    // }

    // @include breakpoint(iphoneX) {
    //   padding: 0 !important;
    //   margin-bottom: 15px;
    // }

    // @include breakpoint(iphoneX, landscape) {
    //   padding: 0 15px !important;
    //   margin-bottom: 15px;
    // }

    // @include breakpoint(ipad) {
    //   padding: 0 5px !important;
    //   margin-bottom: 15px;
    // }

    // @include breakpoint(ipad, landscape) {
    //   padding: 0 15px !important;
    //   margin-bottom: 15px;
    // }
  }
  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F4F4F4;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    padding: 24px 0;   &.m-r-0 {
      margin-right: 0;
    }
  }

  &-title {
    width: 90%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #272D4E;
    margin-bottom: 20px;
    height: 55px;

    // @include breakpoint(iphoneX) {
    //   margin-bottom: 25px;
    // }

    // @include breakpoint(iphoneX, landscape) {
    //   font-size: 16px;
    // }

    // @include breakpoint(ipad) {
    //   font-size: 17px;
    // }
  }

  &-picture {
    margin-bottom: 35px;
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
  }

  &-detail {
    width: 168px;
    height: 39.22px;
    background: linear-gradient(89.61deg, #233275 -0.91%, #387DDF 99.67%);
    border-radius: 26.1479px;
    border: none;
    font-size: 14.3813px;
    line-height: 16px;
    letter-spacing: 0.130739px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.35);

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
  }
}

.load-more-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 58px;
  .load-more {
    width: 200px;
    height: 45px;
    background: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.35);
    border-radius: 4px;
    border: none;
    line-height: 19px;
    color: #2F80ED;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }
}

::ng-deep {
  .cdk-overlay-container .cdk-overlay-pane .mat-select-panel-wrap .mat-select-panel{
    width: 100%;
    margin-top: 10px !important;
  }
}
:host {
  ::ng-deep {

    .custom-select {
      
      width: 100%;
      height: 48px;
      border: 1px solid #9DC2FF;


      box-sizing: border-box;
      border-radius: 8px;

      font-weight: bold;
      font-size: 14px;
      line-height: 150%;

      padding-left: 16px;
      padding-top: 13px;
      padding-right: 22px;

      @include breakpoint(mobile) {
        margin: 0 0 10px;
        width: 100%;
      }
      
      .mat-select-panel-wrap .mat-select-panel {
        width: 100%;
        // margin-top: 10px !important;
      }

      .mat-select-value {
        color: #2F80ED !important;
        max-width: 100%;       
        min-width: 100%;
      }

      .mat-select-arrow {
        position: relative;
        border: none;
        width: 9px;
        height: 9px;

        &::after {
          display: block;
          content: "";
          position: absolute;

          top: -2px;
          left: 0px;
          z-index: 11;

          
          width: 9px;
          height: 9px;

          transform: rotate(225deg);

          border-top: 2px solid #2264D1;
          border-left: 2px solid #2264D1;
        }
      }

    }
  }
}

