<div class="experts">
  <app-title class="experts__title" [text]="'Кто может помочь с исследованием'" [verySmall]="true"></app-title>

  <div class="swiper swiper--mobile">
    <swiper
      [slidesPerView]="'auto'"
      [spaceBetween]="5"
      [pagination]="{
        clickable: true
      }"
    >
      <ng-container *ngFor="let expert of experts">
        <ng-template swiperSlide>
          <app-expert [expert]="expert"></app-expert>
        </ng-template>
      </ng-container>
    </swiper>
  </div>

  <div class="swiper swiper--desktop">
    <swiper
      [slidesPerView]="2"
      [spaceBetween]="5"
      [navigation]="true"
      [pagination]="{ clickable: true }"
      [breakpoints]="{
        '320': {
          slidesPerView: 1,
          spaceBetween: 5
        },
        '768': {
          slidesPerView: 2,
          spaceBetween: 5
        },
        '1024': {
          slidesPerView: 3,
          spaceBetween: 5
        },
        '1400': {
          slidesPerView: 4,
          spaceBetween: 5
        }
      }"
    >
      <ng-container *ngFor="let expert of experts">
        <ng-template swiperSlide>
          <app-expert [expert]="expert"></app-expert>
        </ng-template>
      </ng-container>
    </swiper>
  </div>
</div>