@import "../../../shared/styles/variables";

::ng-deep {
  @include breakpoint(mobile) {
    .swiper-slide {
      max-width: 320px;
    }
  }
}
.swiper {
  &--mobile {
    display: none;
  }
  &--desktop {
    display: block;
  }
  @include breakpoint(mobile) {
    &--mobile {
      display: block;
    }
    &--desktop {
      display: none;
    }
  }
}

.experts {
  &-inner {
    display: flex;
    padding: 2px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  &__title {    
    display: block;
    margin: 0 16px 16px;

    @include breakpoint(tablet) {
      margin: 0 7px 10px;
    }
    @include breakpoint(mobile) {
      margin: 0 0 16px 8px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
}

.experts-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 36px;

  @include breakpoint(tablet) {
    padding: 0 24px;
  }
  @include breakpoint(mobile) {
    padding: 0 20px;
  }

  .arrow {
    height: 100%;
    position: absolute;
    z-index: 1;
    width: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    top: 0;
    padding: 10px;
    
    img {
      position: absolute;
      width: 10px;
      height: 20px;
    }

    &-left {
      left: 0;
      transform: rotate(180deg);

      & .left {
        transform: rotate(-180deg);
      }
    }

    &-right {
      right: 0;
    }
  }
}