@import "../../../shared/styles/variables";

.form {
  height: 357px;
  background: #F0F0F0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;

  @include breakpoint(mobile) {
    height: 250px;
    padding: 16px 12px 32px;
  }

  &-title {
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #2F80ED;
    margin-bottom: 20px;

    @include breakpoint(tablet) {
      font-size: 28px;
      line-height: 32px;
    }
    @include breakpoint(mobile) {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 16px;
    }
  }

  &-text {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #272D4E;
    margin-bottom: 60px;

    @include breakpoint(tablet) {
      padding: 0 100px;
    }
    @include breakpoint(mobile) {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 24px;
      padding: 0;
    }
  }
}

.contact-form {
  display: flex;
  position: relative;

  &-control {
    width: 343px;
    height: 46px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    padding: 0 15px;

    &.error {
      border-color: tomato;
    }

    @include breakpoint(tablet) {
      height: 44px;
    }
    @include breakpoint(mobile) {
      height: 32px;
      width: 100%;
    }
  }

  input[type='tel'] {
    font-size: 16px;
    @include breakpoint(tablet) {
      font-size: 14px;
    }
    @include breakpoint(mobile) {
      font-size: 12px;
    }
  }

  &-btn {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2px;
    color: #fff;
    padding: 13px 24px;
    background: #2F80ED;
    border-radius: 4px;
    border: none;
    
    @include breakpoint(tablet) {
      font-size: 14px;
      height: 44px;
    }
    @include breakpoint(ipad, landscape) {
      font-size: 16px;
    }
    @include breakpoint(mobile) {
      font-size: 12px;
      line-height: 14px;
      padding: 0 12px;
      height: 32px;
    }
  }
  &-error {
    position: absolute;
    top: 130%;
    color: tomato;
    font-size: 14px;
    left: 0;
  }
}