<div class="contact">
  <div class="container">
    <div class="contact-map">
      <div id="map" class="ymap" #yaMap></div>
    </div>
    <div class="contact-details">
      <h3 class="contact-details__title">Контакты</h3>
      <div class="contact-details__list list">
        <div class="list-item list-item--fluid">
          <span class="list-item__main">Адрес:</span>
          <p class="list-item__body">Республика Казахстан, г. Алматы, ул. Толе би, 303</p>
        </div>
        <div class="list-item">
          <span class="list-item__main">Приемная директора:</span>
          <a class="list-item__body">+7 (727) 238-13-04</a>
          <a class="list-item__body">+7 (701) 457-20-94</a>
        </div>
        <div class="list-item">
          <span class="list-item__main">Телефон:</span>
          <a class="list-item__body">+7 (727) 238-12-99</a>
          <a class="list-item__body">+7 (747) 380-33-12</a>
        </div>
        <div href="#" class="list-item">
          <span class="list-item__main">Email:</span>
          <a class="list-item__body list-item__body--link">d.a.konaeva@mail.ru</a>
        </div>
        <div class="list-item">
          <span class="list-item__main">Соц.сети:</span>
          <div class="list-item__body social-icons">
            <app-icons class="social-icon social-icon--instagram" icon="instagram"></app-icons>
            <app-icons class="social-icon social-icon--whatsapp" icon="whatsapp"></app-icons>
            <app-icons class="social-icon social-icon--vk" icon="vk"></app-icons>
            <app-icons class="social-icon social-icon--youtube" icon="youtube"></app-icons>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
