.scientist {
  width: 253px;
  height: 611px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
  border-radius: 8px;

  &__img {
    width: 177px;
    height: 235px;
    border-radius: 5px;
    margin-bottom: 8px;
  }

  &__name {
    color: #031D5B;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.2px;
  }

  &__position {
    color: #031D5B;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2px;
  }

  &__researchList {
    display: flex;
    flex-direction: column;
  }
}

.research-statistics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  line-height: 14px;
}

.btn-primary {
  width: 168px;
  height: 49px;
  background: #2F80ED;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}

.show-profile {
  color: #2F80ED;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-decoration: underline;
}

.img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}