<div class="contact">
  <div class="container">
    <div class="contact-map">
      <div id="map" class="ymap" #yaMap></div>
    </div>
    <div class="contact-details">
      <h3 class="contact-details__title">Контакты</h3>
      <div class="contact-details__list list">
        <div class="list-item">
          <span class="list-item__main">Адрес:</span>
          <p class="list-item__body">Республика Казахстан, г. Алматы, Курмангазы 107 (уг.ул. Байтурсынова)</p>
        </div>
        <div class="list-item">
          <span class="list-item__main">Телефон:</span>
<!-- Whats Up: 8 (701) 513 11 55 -->
          <a class="list-item__body">+7 (701) 233-58-88 (call-center)</a>
          <a class="list-item__body">+7 (727) 350-78-88</a>
          <a class="list-item__body">+7 (727) 292-98-77 (факс)</a>
        </div>
        <div href="#" class="list-item">
          <span class="list-item__main">Email:</span>
          <a class="list-item__body list-item__body--link">info@test.kz</a>
        </div>
        <div class="list-item">
          <span class="list-item__main">Соц.сети:</span>
          <div class="list-item__body social-icons">
            <app-icons class="social-icon social-icon--instagram" icon="instagram"></app-icons>
            <app-icons class="social-icon social-icon--whatsapp" icon="whatsapp"></app-icons>
            <app-icons class="social-icon social-icon--vk" icon="vk"></app-icons>
            <app-icons class="social-icon social-icon--youtube" icon="youtube"></app-icons>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>