@import "./shared/styles/variables";

.page-outlet {
  @include breakpoint(tablet) {
    margin-top: 100px;
  }
  @include breakpoint(mobile) {
    margin-top: 80px;
  }
}

.top-offset {
  @include breakpoint(desktop) {
    margin-top: 111px;
  }  
}