.equipment {
  max-width: 350px;
  
  &-card-wrapper {
    height: 380px;
    padding: 15px;
    margin-bottom: 24px;
  }

  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
    border-radius: 8px;
    padding: 20px;
  }

  &-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #272D4E;
    margin-bottom: 25px;
    height: 55px;
  }

  &-picture {
    height: 173px;
    width: 100%;
    margin-bottom: 35px;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &-detail {
    max-width: 165px;
    width: 100%;
    height: 49px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 5px;


    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2px;

    color: #272D4E;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
