

.equipment-cards-title {
  font-weight: bold;
  font-size: 20px;
  color: #031D5B;
  text-align: center;
  line-height: 41px;
  letter-spacing: 0.2px;
  margin-bottom: 30px;
  margin-top: 60px;
}

.equipment-cards {
  padding: 10px 50px;
}

.debbug {
  border: 1px solid red;
}