@import "../../../shared/styles/variables";

.equipment-cards-title {
  text-align: center;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  letter-spacing: 0.2px;
  color: #031D5B;
  margin-bottom: 30px;

  @include breakpoint(ipad, landscape) {
    font-size: 28px;
    margin-bottom: 12px;
  }
  @include breakpoint(tablet) {
    font-size: 28px;
    margin-bottom: 12px;
  }
}

