

.equipment-cards-title {
  text-align: center;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  letter-spacing: 0.2px;
  color: #031D5B;
  margin-bottom: 30px;
}

.equipment-cards {
  padding: 10px 50px;
}
