<footer>
  <section class="footer">
    <div class="container">
      <img src="./assets/icons/to-top.svg" alt="top-icon" class="top-icon" (click)="toTop()">
      <div class="row">
        <div class="col-4">
          <h4 class="footer-list-title">Контакты</h4>
          <div class="address">
            <i class="icon icon-address"><img src="./assets/icons/map.svg" alt="иконка"></i>
            <p class="text">
              ул. Сатпаева 22а,  <br> 050013, <br> г.Алматы, Республика Казахстан
            </p>
          </div>
          <div class="phone">
            <i class="icon icon-phone"><img src="./assets/icons/phone.svg" alt="иконка"></i>
            <p class="text">+7 (727) 2555-555</p>
          </div>
        </div>
        <div class="col-4">
          <h4 class="footer-list-title">Быстрые ссылки</h4>
          <ul class="quick-links">
            <li> <a href="#">Главная</a> </li>
            <li> <a href="#">Лаборатории</a> </li>
            <li> <a href="#">Контакты</a> </li>
          </ul>
        </div>
        <div class="col-4">
          <h4 class="footer-list-title">О нас</h4>
          <p class="text">Свяжитесь с нами </p>
          <ul class="social-links">
            <li> <a href="https://twitter.com/" target="_blank"><img src="./assets/icons/twitter.svg" alt="twitter-icon"></a> </li>
            <li> <a href="https://www.facebook.com/" target="_blank"><img src="./assets/icons/facebook.svg" alt="facebook-icon"></a> </li>
            <li> <a href="https://www.linkedin.com/" target="_blank"><img src="./assets/icons/linkedin.svg" alt="linkedin-icon"></a> </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</footer>