@import "../../styles/variables";

.footer {
  background: #272D4E;
  color: #fff;
  padding: 50px 0;

  &-list-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    margin-bottom: 20px;

    @include breakpoint(ipad) {
      font-size: 18px;
      margin-bottom: 16px;
    }

    @include breakpoint(tablet) {
      font-size: 18px;
      margin-bottom: 16px;
    }

    @include breakpoint(mobile) {
      font-size: 16px;
      margin-bottom: 12px;
    }
  }
}

.col-4 {
  padding: 0 4%;

  @include breakpoint(mobile) {
    margin-bottom: 32px;

    &:last-child {
      margin: 0;
    }
  }
}

.address {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;

  @include breakpoint(mobile) {
    margin-bottom: 8px;
  }
}

.icon {
  margin-right: 15px;
}

.phone {
  display: flex;
  align-items: center;
}

.text {
  font-size: 15px;
  letter-spacing: 0.2px;
  line-height: 27px;
  color: #fff;
  text-decoration: none;

  @include breakpoint(tablet) {
    font-size: 14px;
  }
}

.quick-links {
  list-style-type: none;

  li {
    margin-bottom: 9px;

    @include breakpoint(mobile) {
      margin-bottom: 5px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    a {
      text-decoration: none;
      color: #fff;
      font-size: 15px;
      line-height: 28px;
      letter-spacing: 0.2px;
    }
  }
}

.social-links {
  list-style-type: none;
  display: flex;
  margin-top: 36px;

  @include breakpoint(mobile) {
    margin-top: 16px;
  }

  li {
    margin-right: 24px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.container {
  position: relative;
}

.top-icon {
  cursor: pointer;
  position: absolute;
  top: -75px;
  right: 0;
  z-index: 1;
}
