<section class="lab">
  <h3 class="lab__name" [routerLink]="['/lab', lab?.id]">Лаборатория "{{ lab?.name }}"</h3>
  
  <p class="lab__desc">{{ lab?.desc }}</p>

  <div class="lab__experts lab__experts--desktop">
    <app-expert class="expert" [expert]="expert" *ngFor="let expert of lab?.experts"></app-expert>
  </div>

  <div class="lab__experts lab__experts--tablet">
    <div class="prev">
      <img src="assets/icons/arrow.svg" alt="" />
    </div>

    <swiper [config]="swiperParams">
      <ng-container *ngFor="let expert of lab?.experts">
        <ng-template swiperSlide>
          <app-expert class="expert" [expert]="expert"></app-expert>
        </ng-template>
      </ng-container>
    </swiper>

    <div class="next">
      <img src="assets/icons/arrow.svg" alt="" />
    </div>
  </div>

  <div class="lab__experts lab__experts--mobile">
    <swiper
      [slidesPerView]="'auto'"
      [spaceBetween]="5"
      [pagination]="{
        clickable: true
      }"
    >
      <ng-container *ngFor="let expert of lab?.experts">
        <ng-template swiperSlide>
          <app-expert class="expert" [expert]="expert"></app-expert>
        </ng-template>
      </ng-container>
    </swiper>
  </div>
  
  <button class="lab__load-more">Загрузить еще</button>
</section>