@import "../../../shared/styles/variables";

::ng-deep {
  @include breakpoint(mobile) {
    .swiper-slide {
      max-width: 320px;
    }
  }
}

.lab {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__name {
    color: #031D5B;
    cursor: pointer;
    font-size: 35px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.2px;
    margin-bottom: 16px;

    @include breakpoint(tablet) {
      font-size: 28px;
      line-height: 32px;
    }
    @include breakpoint(mobile) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__desc {
    color: #828282;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-bottom: 24px;
    text-align: justify;

    @include breakpoint(mobile) {
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__experts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    &--desktop {
      display: flex;
    }
    &--tablet {
      display: none;
    }
    &--mobile {
      display: none;
    }

    @include breakpoint(tablet) {
      &--desktop {
        display: none;
      }
      &--tablet {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
      }
      &--mobile {
        display: none;
      } 
    }
    @include breakpoint(mobile) {
      &--desktop {
        display: none;
      }
      &--tablet {
        display: none;
      }
      &--mobile {
        display: flex;
      } 
    }
  }

  &__load-more {
    align-self: center;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.35);
    border-radius: 4px;
    border: none;
    color: #2F80ED;
    font-size: 16px;
    font-weight: 500;
    margin-top: 24px;
    width: 200px;
    height: 45px;

    @include breakpoint(tablet) {
      display: none;
    }
  }
}

.expert {  
  @include breakpoint(desktop) {
    max-width: 300px;
    width: 100%;
  }
}

.prev {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 5px 5px 0;
  width: 24px;
  height: 24px;
  transform: rotate(180deg);
}

.next {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0 5px 5px;
  width: 24px;
  height: 24px;
}