<div class="swiper swiper--mobile">
  <swiper
    class="mini-carousel-swiper"
    [slidesPerView]="'auto'"
    [spaceBetween]="12"
    [pagination]="{
      clickable: true
    }"
    [zoom]="true"
  >
  <ng-container *ngFor="let i of galleryList">
    <ng-template swiperSlide>
      <img [src]="'./assets/pics/research/research-12/gallery/'+miniResearchId+'-'+i+'.png'" alt="">
    </ng-template>
  </ng-container>
  </swiper>
</div>

<div class="swiper swiper--desktop">
  <div class="swiper__prev">
    <img src="assets/icons/arrow.svg" alt="" />
  </div>

  <swiper [config]="swiperParams">
    <ng-container *ngFor="let i of galleryList">
      <ng-template swiperSlide>
        <img [src]="'./assets/pics/research/research-12/gallery/'+miniResearchId+'-'+i+'.png'" alt="">
      </ng-template>
    </ng-container>
  </swiper>
  
  <div class="swiper__next">
    <img src="assets/icons/arrow.svg" alt="" />
  </div>
</div>
