@import "../../../shared/styles/variables";

::ng-deep {
  @include breakpoint(mobile) {
    .mini-carousel-swiper .swiper-slide {
      max-width: 138px;
    }
  }
}

.swiper {
  align-items: center;

  &--mobile {
    display: none;
  }
  &--desktop {
    display: flex;
  }
  @include breakpoint(mobile) {
    &--mobile {
      display: flex;
    }
    &--desktop {
      display: none;
    }
  }

  &__prev {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 5px 5px 0;
    width: 24px;
    height: 24px;
    transform: rotate(180deg);
  }
  &__next {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0 5px 5px;
    width: 24px;
    height: 24px;
  }
}
