
<div class="car-wrapper">
  <div class="arrow arrow-left" (click)="toLeft()">
    <img class="left" src="./assets/pics/slider/left.svg">
  </div>
  <div class="arrow arrow-right" (click)="toRight()">
    <img src="./assets/pics/slider/right.svg">
  </div>
  <div class="car" #carElem>
    <div class="car-inner">
      <div class="img" *ngFor="let i of galleryList">
        <img [src]="'./assets/pics/research/research-12/gallery/'+miniResearchId+'-'+i+'.png'" alt="">
      </div>
    </div>
  </div>
</div>
