.car-wrapper {
  position: relative;
  padding: 0 15px;
}

.car {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 140px;
  &-inner {
    position: absolute;
    display: flex;
  }
}


.arrow {
  height: 100%;
  position: absolute;
  z-index: 1;
  width: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  top: 0;
  padding: 10px;

  img {
    position: absolute;
    width: 10px;
    height: 20px;
  }

  &-left {
    left: 0;
    transform: rotate(180deg);

    & .left {
      transform: rotate(-180deg);
    }
  }

  &-right {
    right: 0;
  }
}