.achievement {
  &-title {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 12px;
  }

  &-img {
    object-fit: contain;
    width: 100%;
    height: auto;
  }

  &-list {
    display: flex;
    flex-direction: column;

    &__item {
      & + & {
        margin-top: 1rem;
      }
    }
  }
}
