<form class="form" [formGroup]="form">
  <div class="mb-3 input-field">
    <label for="title" class="form-label">Заголовок</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      aria-describedby="title"
      formControlName="title"
    />
  </div>
  <div class="mb-3 input-field">
    <app-select
      *ngIf="categoryItems$ | async as categories"
      [id]="form?.get('categoryItemId')?.value"
      [options]="categories"
      formControlName="categoryItemId"
    ></app-select>
  </div>
  <div class="mb-3 input-field">
    <app-file-upload formControlName="file"></app-file-upload>
  </div>
  <div class="mb-3">
    <app-tinymce-editor formControlName="body"></app-tinymce-editor>
    <!-- <div class="form-floating">
      <textarea
        id="article-body"
        class="form-control form-description"
        placeholder="Описание"
        formControlName="body"
        row="20"
      ></textarea>
      <label for="article-body">Cодержимое</label>
    </div> -->
  </div>
  <div class="form-controls">
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Сохранить</button>
    <button type="button" class="btn btn-danger" (click)="cancel.emit()">
      Отмена
    </button>
  </div>
</form>
