.files {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
  width: 400px;
  height: 80vh;

  &__item {
    border-bottom: 1px solid #ddd;
  }

  &-wrapper {
    flex: 1;
    position: relative;
    padding: 0 4px;
    overflow-y: auto;
    width: 100%;

    /* width */
    &::-webkit-scrollbar {
      width: 2px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px #ddd;
      border-radius: 2px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #ccc;
      border-radius: 2px;
    }
  }

  &-inner-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0.5rem;
    right: 0.5rem;
    height: 100%;
  }

  &-control {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #0a58ca;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    width: 100%;
  }
}

.icon-upload {
  fill: #0a58ca;
  margin-right: 0.5rem;
  height: 16px;
  width: 16px;
}
