@import "./assets/styles/grid";
@import "./assets/styles/reset";
@import "~swiper/swiper-bundle";

.no-data {
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  &.flex-start {
    align-items: flex-start;
  }
}

html {
  position: initial !important;
  overflow-y: initial !important;
}

html.cdk-global-scrollblock body {
  overflow: hidden;
}

.cdk-overlay-container {
  overflow: auto;
}

.custom-dialog-container .mat-dialog-container {
  padding: 0;
  overflow: hidden;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #2f80ed;
}

.mat-progress-bar-fill::after {
  background-color: #2f80ed;
}

.mat-select-panel-wrap {
  margin-top: 30px !important;
}

.mat-option-text.mat-option-text {
  white-space: normal;
  line-height: 16px;
}

.page-title,
h2 {
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: 0.75rem;
}

.page-content {
  font-size: 1rem;
  text-align: justify;

  p img {
    object-fit: contain;
    width: 100%;
  }
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.75rem;
}

.article-title {
  font-size: 20px;
  font-weight: 400;
}
