@import '~src/app/shared/styles/grid';
@import '~src/app/shared/styles/reset';


.no-data {
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  &.flex-start {
    align-items: flex-start;
  }
}

html {
  position: initial !important;
  overflow-y: initial !important;
}

html.cdk-global-scrollblock body {
  overflow: hidden;
}

.cdk-overlay-container {
  overflow: auto;
}

.custom-dialog-container .mat-dialog-container {
  padding: 0;
  overflow: hidden;
}