@import "../../../shared/styles/variables";

.expert {
  background: rgb(255 255 255 / 50%);
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
  border-radius: 8px;
  padding: 25px;
  display: flex;

  @include breakpoint(ipad, landscape) {
    padding: 16px;
  }
  @include breakpoint(tablet) {
    padding: 16px;
  }
  @include breakpoint(mobile) {
    flex-wrap: wrap;
    padding: 12px;
  }
  
  &-img {
    width: 310px;
    height: 376px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-right: 50px;

    @include breakpoint(ipad, landscape) {
      flex: 0 0 180px;
      margin-right: 24px;
      height: auto;
      width: 180px;
    }
    @include breakpoint(tablet) {
      flex: 0 0 150px;
      margin-right: 16px;
      height: auto;
      width: 150px;
    }
    @include breakpoint(mobile) {
      flex: 0 0 115px;
      margin-right: 12px;
      height: 140px;
      width: 115px;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    letter-spacing: 0.303614px;
    margin-top: 13px;

    @include breakpoint(ipad, landscape) {
      flex: 1 0 180px;
      margin-right: 24px;
    }
    @include breakpoint(tablet) {
      flex: 1 0 180px;
      margin-right: 16px;
    }
    @include breakpoint(tablet) {
      flex: 1 0 170px;
      margin: 0;
    }

    .fio {
      font-weight: 500;
      font-size: 36.4337px;
      line-height: 43px;
      margin-bottom: 5px;

      @include breakpoint(ipad, landscape) {
        font-size: 26px;
        line-height: 32px;
      }
      @include breakpoint(tablet) {
        font-size: 22px;
        line-height: 28px;
      }
      @include breakpoint(mobile) {
        font-size: 18px;
        line-height: 24px;
      }
    }

    .position {
      font-weight: 300;
      font-size: 27.3253px;
      line-height: 32px;
      margin-bottom: 20px;

      @include breakpoint(ipad, landscape) {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 12px;
      }
      @include breakpoint(tablet) {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 12px;
      }
      @include breakpoint(mobile) {
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 8px;
      }
    }

    .experiense {
      font-weight: 300;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.303614px;
      color: #4F4F4F;

      @include breakpoint(ipad, landscape) {
        font-size: 18px;
        line-height: 26px;
      }
      @include breakpoint(tablet) {
        font-size: 16px;
        line-height: 24px;
      }
      @include breakpoint(mobile) {
        font-size: 15px;
        line-height: 24px;
      }
    }

    .cons-btn {
      margin-top: auto;
      width: 312px;
      height: 63px;
      background: #2F80ED;
      box-shadow: 0px 5.14286px 5.14286px rgba(0, 0, 0, 0.25);
      border-radius: 6.42857px;
      font-weight: 500;
      font-size: 21.8571px;
      line-height: 26px;
      letter-spacing: 0.257143px;
      color: #fff;
      border: none;

      @include breakpoint(ipad, landscape) {
        width: auto;
        height: auto;
        font-size: 16px;
        padding: 8px 16px;
      }
      @include breakpoint(tablet) {
        width: auto;
        height: auto;
        font-size: 14px;
        padding: 6px 12px;
      }
      @include breakpoint(mobile) {
        width: auto;
        height: auto;
        font-size: 14px;
        padding: 4px 12px;
      }
    }
  }

  &-dev {
    margin-top: 13px;
    margin-left: auto;

    @include breakpoint(ipad, landscape) {
      flex: 1 0 235px;
    }
    @include breakpoint(tablet) {
      flex: 1 0 235px;
    }
    @include breakpoint(mobile) {
      margin-top: 16px;
    }
    
    .dev {
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
      color: #333333;

      @include breakpoint(ipad, landscape) {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 12px;
      }

      @include breakpoint(tablet) {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 6px;
      }

      &:first-of-type {
        font-weight: normal;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0.428026px;
        color: #219653 !important;

        @include breakpoint(ipad, landscape) {
          font-size: 16px;
          line-height: 20px;
        }

        @include breakpoint(tablet) {
          font-size: 16px;
          line-height: 20px;
        }
      }

      &-value {
        margin-left: 20px;
      }
    }
  }
}


.title {
  display: block;
  margin-bottom: 20px;
  margin-top: 40px;
}

.labs-list {
  padding: 24px;

  @include breakpoint(mobile) {
    padding: 0;
  }
}