<div class="container">
  <div class="expert">
    <div class="expert-img" [style.background-image]="'url('+'./assets/pics/experts/'+expert?.id+'.png'+')'">
    </div>
    <div class="expert-info">
      <h2 class="fio">{{expert?.name}}</h2>
      <p class="position">{{expert?.position}}</p>
      <p class="experiense">Стаж работы: {{expert?.experiense}}</p>
      <button type="button" class="cons-btn">Получить консультацию</button>
    </div>
    <div class="expert-dev">
      <div class="dev" *ngFor="let dev of expert?.researchList; let idx = index">
        <div class="dev-key" [class.green]="idx === 0">{{dev?.name}}</div>
        <div class="dev-value" [class.green]="idx === 0">{{dev?.count}}</div>
      </div>
    </div>
  </div>
  <h3 class="title">Какие исследования проводит</h3>
  <app-expansion-panels [researches]="miniResearches"></app-expansion-panels>

  <h3 class="title">В каких лабораториях проводит исследования</h3>
</div>
