
<div class="no-data flex-start" *ngIf="loading">
  <mat-progress-bar mode="indeterminate" ></mat-progress-bar>
</div> 

<div class="container" *ngIf="!loading">
  <div class="expert" *ngIf="expert">
    <div class="expert-img" [style.background-image]="'url('+'./assets/pics/experts/'+expert?.id+'.png'+')'">
    </div>
    <div class="expert-info">
      <h2 class="fio">{{expert?.name}}</h2>
      <p class="position">{{expert?.position}}</p>
      <p class="experiense">Стаж работы: {{expert?.experiense}}</p>
      <button type="button" class="cons-btn" (click)="openDialog()">Получить консультацию</button>
    </div>
    <div class="expert-dev">
      <div class="dev">
        <div class="dev-key">Проведено исследований</div>
        <div class="dev-vaue">313</div>
      </div>
      <div class="dev" *ngFor="let dev of expert?.researchList; let idx = index">
        <div class="dev-key">{{dev?.name}}</div>
        <div class="dev-value">{{dev?.count}}</div>
      </div>
    </div>
  </div>
  <!-- <h3 class="title">Какие исследования проводит</h3> -->
  
  <app-title class="title" [text]="'Какие исследования проводит'" [big]="true">
  </app-title>
  
  <app-expansion-panels [researches]="miniResearches" class="app-expansion-panels"></app-expansion-panels>

  <!-- <h3 class="title">В каких лабораториях проводит исследования</h3> -->
  <app-title class="title" [text]="'В каких лабораториях проводит исследования'" [big]="true">
  </app-title>

  <div class="labs-list">
    <app-labs-list [labs]="labs" [showTitle]="false"></app-labs-list>
  </div>

  <!-- <h3 class="title">Какое оборудование использует</h3> -->
  <app-title class="title" [text]="'В каких лабораториях проводит исследования'" [big]="true">
  </app-title>
  
  <app-equipment-cards [equipments]="equipments"></app-equipment-cards>

  <app-contact-form [title]="'Хотите заказать исследование?'"></app-contact-form>

</div>
