@import "../../../../shared/styles/variables";

:host {
  display: block;
  padding: 15px;

  @include breakpoint(tablet) {
    padding: 2px;
    margin: 5px;
  }
  @include breakpoint(mobile) {
    padding: 2px;
    margin: 0 auto 16px;
  }
}

.scientist {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
  border-radius: 8px;
  padding: 26px 16px;

  @include breakpoint(tablet) {
    padding: 16px;
  }
  @include breakpoint(mobile) {
    padding: 12px;
  }

  &__img {
    width: 177px;
    height: 235px;
    border-radius: 5px;
    margin-bottom: 10px;

    @include breakpoint(mobile) {
      height: 190px;
    }
  }

  &__name {
    color: #031D5B;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.2px;
    margin-bottom: 4px;

    @include breakpoint(tablet) {
      font-size: 20px;
      line-height: 24px;
    }
    @include breakpoint(mobile) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__position {
    color: #031D5B;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2px;
    margin-bottom: 24px;

    @include breakpoint(tablet) {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 16px;
    }
    @include breakpoint(mobile) {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 12px;
    }
  }

  &__researchList {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    width: 100%;

    @include breakpoint(tablet) {
      margin-bottom: 16px;
    }
    @include breakpoint(mobile) {
      margin-bottom: 12px;
    }
  }
}

.research-total {
  display: flex;
  justify-content: space-between;
  color: #219653;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 8px;

  @include breakpoint(mobile) {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 5px;
  }
}

.research-statistics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 8px;
  padding-left: 8px;

  @include breakpoint(tablet) {
    font-size: 14px;
    line-height: 18px;
  }
}

.btn-primary {
  width: 168px;
  background: #2F80ED;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-weight: 500;
  margin-bottom: 16px;
  font-size: 18px;
  letter-spacing: 0.2px;
  color: #fff;
  padding: 9px 0;
  border-radius: 4px;
  border: none;

  &:disabled {
    background: #82b7ff;
  }

  @include breakpoint(tablet) {
    font-size: 16px;
    margin-bottom: 12px;
    padding: 16px 18px;
    width: auto;
  }
  @include breakpoint(mobile) {
    font-size: 14px;
    margin-bottom: 12px;
    padding: 12px 18px;
    width: auto;
  }
}

.show-profile {
  color: #2F80ED;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-decoration: underline;
  cursor: pointer;

  &.disabled {
    color: #82b7ff;
    cursor: default;
    text-decoration: none;
  }
}

.img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}