<div class="labs">
  <!-- <h2 class="labs__header" *ngIf="showTitle">Где проводят исследование</h2> -->

  <app-title 
    class="labs__header" 
    *ngIf="showTitle" 
    [text]="'Где проводят исследование'"
    [verySmall]="true"
  >
  </app-title>

  <div class="labs__list">
    <div class="lab" [class.downline]="downLine" *ngFor="let lab of labs">
      <div class="lab__info">
        <div class="lab-title">Лаборатория "{{ lab.name }}"</div>
        <div class="lab-desc">{{ lab.desc }}</div>
      </div>
      <button class="btn-more" [class.disabled]="!lab?.researchIds" (click)="openLab(lab.id)">Подробнее</button>
    </div>
  </div>
</div>