<div class="sidebar">
  <section class="section search">
    <div class="search-form">
      <input class="search-form__input" type="text" placeholder="Поиск" />
      <button class="search-form__btn">
        <app-icons class="icon" icon="search"></app-icons>
      </button>
    </div>
  </section>

  <section class="section">
    <h3 class="section__header">Быстрая ссылка</h3>

    <ul class="section-list">
      <li class="section-list__item" *ngFor="let link of links">
        <a
          class="link"
          [routerLink]="link | routeLink"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          {{ link.title }}
        </a>
      </li>
    </ul>
  </section>

  <!-- <section class="section category">
    <h3 class="section__header">Категории</h3>

    <ul class="categories">
      <li class="categories__item">Блог Директора</li>
      <li class="categories__item">Новости</li>
      <li class="categories__item">Галерея</li>
      <li class="categories__item">Контакты</li>
    </ul>
  </section> -->
</div>
