<div class="greeting">
  <div class="greeting__text">
    Здравствуйте, уважаемые пользователи сайта колледжа Д.А.Кунаева!<br />
    <br />
    Искренне рад приветствовать Вас на своем личном блоге!<br />
    <br />
    Он создан, чтобы Вы смогли озвучить вопросы и проблемы, поделиться мнением и
    предложениями по вопросам жизни колледжа Д.А.Кунаева, рассказать о своих
    целях и порадовать работников колледжа историей успеха.<br />
    <br />
    Уверен, этот блог станет не только эффективным инструментом по разрешению
    проблем и конфликтных ситуаций, но и поможет нашему колледжу сформировать
    атмосферу открытий, развития и стремления к успешной работе на благо нашей
    страны и каждого из нас.<br />
    <br />
    Вместе мы сможем сделать больше!<br />
    <br />
    <br />
    <br />
    С уважением,<br />
    Директор Колледжа Д.А.Кунаева<br />
    Булекбаева Райхан Чантовна<br />
    <br />
    <br />

    <button type="button" class="btn-submit" (click)="showModal()">
      Задать вопрос
    </button>
  </div>

  <div class="greeting__details">
    <div class="photo">
      <img
        class="photo-img"
        src="assets/pics/members/raikhan-chantovna.png"
        alt="Булекбаева Райхан Чантовна"
      />
    </div>

    <div class="available">
      <strong>Личный прием:</strong> каждый 1-й, 3-й понедельник месяца, с 16.00
      до 18.00
    </div>

    <div class="cabinet"><strong>Кабинет:</strong> кабинет 101.</div>

    <div class="reception">
      <strong>Приемная:</strong>
      <div class="phone-list">
        <a class="phone" href="tel:+7 (727) 238-13-04">+7 (727) 238-13-04,</a>
        <a class="phone" href="tel:+7 (701) 457-20-94">+7 (701) 457-20-94</a>
      </div>
    </div>

    <div class="email">
      <strong>Email:</strong>
      <div class="email-list">
        <a class="email" href="mailto:kunaev_college@mail.ru">
          kunaev_college@mail.ru,
        </a>
        <a class="email" href="mailto:d.a.konaeva@mail.ru">
          d.a.konaeva@mail.ru
        </a>
      </div>
    </div>
  </div>
</div>
